---
import type { GetStaticPaths } from "astro"
import { render } from "astro:content"
import { getCollection } from "astro:content"

import Document from "@layouts/Document.astro"

export const getStaticPaths = (async () => {
  return (await getCollection("pages")).map((i) => ({
    params: { slug: i.id },
    props: i,
  }))
}) satisfies GetStaticPaths

const entry = Astro.props
const { Content } = await render(entry)
---

<Document>
  <h1>{entry.data.title}</h1>
  <Content />
</Document>
